.clientlist {
    position: fixed;
    width: 84%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 40px 0 0;

}

.creatadmin {
    position: fixed;
    width: 84%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 40px 0 0;

}

.adminlist {
    position: fixed;
    width: 84%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 40px 0 0;

}