
.cart-modal-header {
    display: grid;
    padding: 1.2rem;
    grid-template: auto/auto auto;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #e5e7eb;
   
    h1 {
        font-size: 18px;
        margin: 0 ;
        color: #000 ;
        text-transform: uppercase;
        font-weight: bold;
    }
    i {
        font-size: 20px;
        cursor: pointer;
    }
}

.cart-modal-content{
    overflow: auto;
    max-height: 45vh;
   
    .cart-item {
        display: flex;
        height: 22vh;
        padding: 1rem;
        .image-clothing {
            width: 30%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .info-clothing {
            width: 70%;
            padding-left: 1rem;

            .header-cart {
                display: flex;
                position: relative;
                i{
                   position: absolute;
                   right: 4%;
                   cursor: pointer;
                }

            }
            p {
                margin: 0.9rem 0;
            }

            .size-clothing {
                display: flex;
                p {
                    margin: 0 0.5rem;
                }
                
            }
            .quantity-clothing {
                display: flex;

                p {
                    margin: 0 0.5rem;
                    cursor: pointer;
                    font-size: 20px;
                    line-height: 2.8vh;
                }
            }
        }
    }

    li {
        text-align: center;
        padding: 2.4rem;
    }
}

    
    .cart-modal {
        z-index: 2000;
        width: 25%;
        position: fixed;
        right: 0;
        top: 12.8%; 
        background-color: #fff;
    
        .cart-modal-footer {
    
            .pay {
                display: grid;
                padding: 1rem;
                grid-template: auto/auto auto;
                justify-content: space-between;
                text-align: center;
    
                h1 {
                    font-size: 18px;
                    color: #000;
                    margin: 0;
                }
            }
    
            .pay-button {
                margin: 1rem;
                text-align: center;
                padding: 1rem;
                background-color: #000;
                cursor: pointer;
                .button {
                    font-size: 16px;
                    color: #fff;
                    margin: 0;
                }
            }
    
        }
    }

